*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

@supports (font-size-adjust: 1) {
    p {font-size-adjust: 0.5;}
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

body {
    line-height: calc(1ex / 0.32);
    height: 100vh;

}
p {

    width: 60ch;
    max-width: 100%;

    -webkit-font-smoothing: antialiased;

}
/* Empezamos */

/* ===LAYOUT PRINCIPAL=== */

.wrapper {
    display: grid;
    height: 100vh;
    grid-template: repeat(6, 1fr) /  1fr repeat(3, 2fr) ;
    grid-template-areas:  
    "menu header header header"
    "menu main main main"
    "menu main main main"
    "menu main main main"
    "menu main main main"
    "menu main main main";
}

.menu {
    grid-area: menu;
    background-color: rgba(24,147,212,255);
    color: rgba(255,254,254,255);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu__header {
    padding: 1rem;
}

.menu__sect1 {
    display: grid;
    grid-template: repeat(6, 1fr)/ 1fr;
    gap: 1rem;
}

.menu__sect2 {
    padding-top: 2rem;
    display: grid;
    grid-template: repeat(3, 1fr)/ 1fr;
    gap: 1rem;
}

.menu__header a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-weight: bold;
    color:rgba(255,254,254,255);
    font-size: 1.5rem;
    line-height: 1;
}

.menu__item {
    list-style: none;
}
.item__a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-weight: bold;
    color:rgba(255,254,254,255);
    font-size: 1.3rem;
    line-height: 1;

}
.item__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: rgba(255,254,254,255);
}



.header{
    grid-area: header;
    padding: 0.5rem 2rem;
    background-color: rgba(255,254,254,255);
    display: grid;
    grid-template: 1fr 1fr / 4fr 2fr;
    grid-template-areas: 
    "search user-notifications"
    "user-card user-actions";
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.308);
    z-index: 1;

}

.main-content {
    background-color: azure;
    grid-area: main;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    grid-template-areas: 
    "projects projects announcements"
    "projects projects announcements"
    "projects projects trending"
    "projects projects trending";
}

/* ===COMPONENTES=== */

.menu__icon {
    width: 2em;
    height: 2em;
    fill: rgba(255,254,254,255);
    display: inline;
}
.header__form-search {
    display: grid;
    grid-area: search;
    grid-template-columns: 1fr 8fr;
    padding: 1.3rem 0;
}

.form-search__input {
    border-radius: 1rem;
    background-color: rgb(236, 235, 235);
    border: none;
    appearance: none;
}
.form-search__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: black;
}

.form-search__btn {
    border: none;
    justify-self: end;
    background-color: rgba(255,254,254,255);
}
.form-search__btn:active {
    color: white;
    transform: translateY(0.2rem);
   }

.section-notifications__btn {
    border: none;
    background-color: rgba(255,254,254,255);
    justify-self: center;
}
.section-notifications__btn:active {
    color: white;
    transform: translateY(0.2rem);
   }

.profile-actions__btn {
    background-color: rgba(24,147,212,255);
    color: rgba(255,254,254,255);
    border: none;
    font-weight: bold;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    width: 7em;
}
.profile-actions__btn:active {
    color: white;
    transform: translateY(0.2rem);
   }

.section-notifications {
    padding: 0 2rem;
    display: grid;
    grid-area: user-notifications;
    grid-template: 1fr / 1fr 2fr 4fr;
    grid-template-areas: 
    "btn img text";
    place-self: center;
    gap: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
}

.section-notifications__profile-name {
    place-self: center left;
}

.user-card {
    display: grid;
    grid-area: user-card;
    grid-template: repeat(2, 1fr) / 1fr 6fr;
    grid-template-areas: 
    "img user-greeting"
    "img user-name";
}

.profile-img__img {
    place-self: center;
    background-color: red;
    height: 150%;
    width: auto;
    
}

.profile-img {
    grid-area: img;
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0.5rem;
    place-self: center;
}
.profile-card-greeting {
    grid-area: user-greeting;
    align-self: center;
    font-weight: bold;
}
.profile-card-name {
    grid-area: user-name;
    font-weight: bold;
    font-size: 1.5rem;
}

.profile-actions {
    display: grid;
    grid-area: user-actions;
    grid-template: 1fr / repeat(3, 1fr);
    place-self: center;
    gap: 2rem;
}

.section-projects {
    grid-area: projects;
    background-color: rgb(218, 218, 218);
}

.section-announcements {
    grid-area: announcements;
    background-color: aqua;
}

.sections-trending {
    grid-area: trending;
    background-color: blueviolet;
}
